## Import required libraries:

In [10]:
import pandas as pd

## Load the excel data:

In [11]:
ta = pd.read_excel('data/meta/Transit_Agencies_for_Visualization.xlsx', sheet_name='TC AgencyList')
upt = pd.read_excel('data/ntd/TS2.2TimeSeriesSysWideOpexpSvc_2.xlsx', sheet_name='UPT')
bus = pd.read_excel('data/ntd/TS2.1TimeSeriesOpExpSvcModeTOS_3.xlsx', sheet_name='UPT')

## Filter data:

In [12]:
# Remove missing NTD ID's
ta = ta.dropna(how='all')
upt = upt.dropna(subset=['NTD ID'])
bus = bus.dropna(subset=['NTD ID'])

# Filter bus data by required modes
modes = ['MB', 'RB', 'CB', 'TB']
bus_filtered = bus[bus['Mode'].isin(modes)]

## Clean the data:

In [32]:
# Combine project ID's
ta['Project ID'] = ta['Project ID'].combine_first(ta['"Other" primary Project ID']).astype('int32')
print(ta)

# Drop unused columns
ta_clean = ta.drop(columns=['ShowIndividual', '"Other" primary Project ID', 'Primary UZA', 'UZA Name',
                            'Agency Name', 'Reporter Acronym'])
upt_clean = upt.drop(columns=['Last Report Year', 'Legacy NTD ID', 'Agency Name', 'Agency Status',
                              'Reporter Type', 'City', 'State', 'Census Year', 'Primary UZA Name', 
                              'UZA', 'UZA Area SQ Miles', 'UZA Population', '2017 Status'])
bus_clean = bus_filtered.drop(columns=['Last Report Year', 'Legacy NTD ID', 'Agency Name', 'Agency Status',
                              'Reporter Type', 'City', 'State', 'Census Year', 'UZA Name', 'Mode', 'Service',
                              'Mode Status', 'UZA', 'UZA Area SQ Miles', 'UZA Population', '2017 Status'])

     ShowIndividual  Project ID  "Other" primary Project ID  Primary UZA  \
0               1.0           1                         NaN          NaN
1               0.0           1                         1.0          1.0
2               1.0           2                         NaN          1.0
3               0.0           1                         1.0          1.0
4               1.0           3                         NaN          1.0
5               1.0           4                         NaN          1.0
6               1.0           5                         NaN          1.0
7               1.0           6                         NaN          1.0
8               1.0           7                         NaN          1.0
9               1.0           8                         NaN          1.0
10              1.0           9                         NaN          1.0
11              0.0           9                         9.0          1.0
12              0.0           9                         9.0          1.0
13              0.0           9                         9.0          1.0
14              0.0           9                         9.0          1.0
15              0.0           9                         9.0          1.0
16              0.0           9                         9.0          1.0
17              0.0           9                         9.0          1.0
18              0.0           9                         9.0          1.0
19              0.0           9                         9.0          1.0
20              0.0           9                         9.0          1.0
21              0.0           9                         9.0          1.0
22              0.0           9                         9.0          1.0
23              0.0           9                         9.0          1.0
24              0.0           9                         9.0          1.0
25              0.0           9                         9.0          1.0
26              0.0           9                         9.0          1.0
27              0.0           9                         9.0          1.0
28              0.0           9                         9.0          1.0
29              0.0           9                         9.0          1.0
..              ...         ...                         ...          ...
403             0.0         130                       130.0         47.0
404             0.0         130                       130.0         47.0
405             0.0         130                       130.0         47.0
406             0.0         130                       130.0         47.0
407             0.0         130                       130.0         47.0
408             0.0         130                       130.0         47.0
409             1.0         131                         NaN         49.0
410             1.0         132                         NaN         49.0
411             0.0         132                       132.0         49.0
412             0.0         132                       132.0         49.0
413             0.0         132                       132.0         49.0
414             0.0         132                       132.0         49.0
415             0.0         132                       132.0         49.0
416             1.0         133                         NaN         50.0
417             1.0         134                         NaN         50.0
418             0.0         134                       134.0         50.0
419             0.0         134                       134.0         50.0
420             0.0         134                       134.0         50.0
421             1.0         135                         NaN         51.0
422             1.0         136                         NaN         51.0
423             1.0         137                         NaN         52.0
424             1.0         138                         NaN         52.0
425             0.0         138                       138.0         52.0
426             0.0         138                       138.0         52.0
427             1.0         139                         NaN         54.0
428             1.0         140                         NaN         55.0
429             1.0         141                         NaN         55.0
430             1.0         142                         NaN         60.0
431             1.0         143                         NaN         62.0
432             1.0         144                         NaN         70.0

                      UZA Name   NTD ID  \
0                          NaN      NaN
1    New York-Newark, NY-NJ-CT  20008.0
2    New York-Newark, NY-NJ-CT  20080.0
3    New York-Newark, NY-NJ-CT  20188.0
4    New York-Newark, NY-NJ-CT  20100.0
5    New York-Newark, NY-NJ-CT  20098.0
6    New York-Newark, NY-NJ-CT  20078.0
7    New York-Newark, NY-NJ-CT  20076.0
8    New York-Newark, NY-NJ-CT  20206.0
9    New York-Newark, NY-NJ-CT  20082.0
10   New York-Newark, NY-NJ-CT      NaN
11   New York-Newark, NY-NJ-CT  20099.0
12   New York-Newark, NY-NJ-CT  20190.0
13   New York-Newark, NY-NJ-CT  20166.0
14   New York-Newark, NY-NJ-CT  20072.0
15   New York-Newark, NY-NJ-CT  20126.0
16   New York-Newark, NY-NJ-CT  20219.0
17   New York-Newark, NY-NJ-CT  20122.0
18   New York-Newark, NY-NJ-CT  20128.0
19   New York-Newark, NY-NJ-CT  20084.0
20   New York-Newark, NY-NJ-CT  20149.0
21   New York-Newark, NY-NJ-CT  20161.0
22   New York-Newark, NY-NJ-CT  22930.0
23   New York-Newark, NY-NJ-CT  20189.0
24   New York-Newark, NY-NJ-CT  20163.0
25   New York-Newark, NY-NJ-CT  20169.0
26   New York-Newark, NY-NJ-CT  20175.0
27   New York-Newark, NY-NJ-CT  20217.0
28   New York-Newark, NY-NJ-CT  20220.0
29   New York-Newark, NY-NJ-CT  20165.0
..                         ...      ...
403               Hartford, CT  10102.0
404               Hartford, CT  10130.0
405               Hartford, CT  10017.0
406               Hartford, CT  10045.0
407               Hartford, CT  10063.0
408               Hartford, CT  10132.0
409            New Orleans, LA  60032.0
410            New Orleans, LA      NaN
411            New Orleans, LA  60088.0
412            New Orleans, LA  60127.0
413            New Orleans, LA  60058.0
414            New Orleans, LA  60112.0
415            New Orleans, LA  60128.0
416                Raleigh, NC  40007.0
417                Raleigh, NC      NaN
418                Raleigh, NC  40147.0
419                Raleigh, NC  40143.0
420                Raleigh, NC  40222.0
421          Oklahoma City, OK  60017.0
422          Oklahoma City, OK  60118.0
423                 Tucson, AZ  90033.0
424                 Tucson, AZ      NaN
425                 Tucson, AZ  90222.0
426                 Tucson, AZ  90191.0
427         Urban Honolulu, HI  90002.0
428             Birmingham, AL  40042.0
429             Birmingham, AL  40169.0
430              Rochester, NY  20113.0
431                  Tulsa, OK  60018.0
432           Grand Rapids, MI  50033.0

                                           Agency Name  \
0                                New York City Transit
1                            MTA New York City Transit
2                       New Jersey Transit Corporation
3                                      MTA Bus Company
4                            MTA Long Island Rail Road
5              Port Authority Trans-Hudson Corporation
6                             MTA Metro-North Railroad
7                   Westchester County Bee-Line System
8                          Nassau Inter County Express
9           New York City Department of Transportation
10                                                 NaN
11                               Staten Island Railway
12                                         NY Waterway
13                             Orange-Newark-Elizabeth
14                 Suffolk County DPW - Transportation
15                                Hudson Transit Lines
16   A&C Bus Corporation & Montgomery & Westside Ow...
17                                       Academy Lines
18                        Suburban Transit Corporation
19                               Transport of Rockland
20                                    Rockland Coaches
21                                    DeCamp Bus Lines
22                NYC Economic Development Corporation
23                              BillyBey Ferry Company
24                                  Lakeland Bus Lines
25                                  Trans-Bridge Lines
26                  Private Transportation Corporation
27                                      Hampton Jitney
28                            Broadway Bus Corporation
29                          Olympia Trails Bus Company
..                                                 ...
403                                    Connecticut DOT
404                              CTTRANSIT New Britain
405                  Greater Hartford Transit District
406                     CTTransit New Britain -Dattco.
407                        Middletown Transit District
408                       CTTransit Torrington-Winsted
409             New Orleans Regional Transit Authority
410                                                NaN
411  Jefferson Parish Department of Transit Adminis...
412                      Plaquemines Parish Government
413                    St. Bernard Urban Rapid Transit
414                   River Parishes Transit Authority
415                       Regional Planning Commission
416                               Capital Area Transit
417                                                NaN
418  North Carolina State University Transportation...
419                                       Town of Cary
420                                    Wake County DSS
421  Central Oklahoma Transportation and Parking Au...
422                                     City of Edmond
423                                     City of Tucson
424                                                NaN
425                    Pima Association of Governments
426     Town of Oro Valley - Transit Services Division
427  City and County of Honolulu Department of Tran...
428      Birmingham-Jefferson County Transit Authority
429  Regional Planning Commission of Greater Birmin...
430                                RTS - Monroe County
431               Metropolitan Tulsa Transit Authority
432                     Interurban Transit Partnership

                       Reporter Acronym
0                           NYC Transit
1                                  NYCT
2                            NJ TRANSIT
3                                MTABUS
4                              MTA LIRR
5                                  PATH
6                               MTA MNR
7    Westchester County Bee-Line System
8           Nassau Inter County Express
9                                NYCDOT
10                  New York City Other
11                               SIRTOA
12      Port Imperial Ferry Corporation
13                            Coach USA
14                                   ST
15                           Short Line
16                                  NaN
17                                  NaN
18                            Coach USA
19                                  TOR
20                                  NaN
21                                  NaN
22                               NYCEDC
23                                  NaN
24                                  NaN
25                                  NaN
26                                  NaN
27                                  NaN
28                                  NaN
29                            Coach USA
..                                  ...
403                                CDOT
404                                 NaN
405                                GHTD
406               CDOT CTTransit DATTCO
407                                 MTD
408                      Nason Partners
409                               NORTA
410                   New Orleans Other
411                                 Jet
412                                 PPG
413                               SBURT
414                                RPTA
415                                 RPC
416                           GoRaleigh
417                       Raleigh Other
418                                NCSU
419                              GoCary
420                               TRACS
421                               COTPA
422                            Citylink
423                            Sun Tran
424                        Tucson Other
425                                 PAG
426                          SunShutDNR
427                                 DTS
428                                 MAX
429                               RPCGB
430                               RGRTA
431                                MTTA
432                           The Rapid

[433 rows x 8 columns]

## Merge the data:

In [34]:
def ntd_merge(df, name):    
    # Merge dataframes
    merge = pd.merge(ta_clean, df, how='left', on='NTD ID')
    group = merge.drop(columns=['NTD ID']).groupby('Project ID')
    
    # Sum, stack, and export to CSV
    stack = group.sum().stack()
    stack.astype('int64').to_csv('data/output/' + name + '.csv', index_label=['id', 'year'], header=[name])
    print('Dataset ' + name + ' written')
    
ntd_merge(upt_clean, 'upt')
ntd_merge(bus_clean, 'bus')

Dataset upt written
Dataset bus written